.inputTodo{
    .errorInput{
        color: var(--red);
    }
    form{
        position: relative;
        .blueIcon{
            position: absolute;
            top:50%;
            transform: translateY(-50%);
            left:10px;
        }
        input{
            font-size: 1rem;
            width: 400px;
            padding: 8px 20px 8px 30px;
            border: 1px solid var(--light-grey);
            color: var(--blue);
            &:focus{
                outline: none;
            }
        }
        button{
            box-sizing: content-box;
            background: var(--blue);
            color: var(--white);
            padding: 8px 20px;
            margin-left: 15px;
            font-size: 1rem;
            border-radius: 2px;
            border:none;
            border: 1px solid var(--blue);
            &:hover{
                cursor: pointer;
            }
            &:focus{
                outline: none;
            }
        }
    }
}
::placeholder {
    color: var(--blue);
}
  
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color: var(--blue);
}
  
::-ms-input-placeholder { /* Microsoft Edge */
   color: var(--blue);
}