:root{
  font-size: 16px;
  --blue: #0082D4;
  --red: #c22a22;
  --white: #fff;
  --dark-grey: #8E9DA6;
  --light-grey: #E2E7EC;
  --background: #FCFCFC;
}
body {
  background-color: var(--background);
  font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
}